{% extends 'settings/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">

			<h2 class="pl-5 font-weight-bold" style="margin-bottom:20px; padding-bottom: 20px; width: 100%; border-bottom: 1px solid darkgray;">Security</h2>


			<h4 class="font-weight-bold pl-5" style="width: 100%; padding-bottom: 20px; margin-bottom:20px;  border-bottom: 1px solid darkgray; ">Two Factor Authentication</h4>


			<a href="{% url 'two-fact-auth-setting' %}" class="two-fact-link" style="border-bottom: 1px solid darkgray; display: flex;margin-bottom: 15px; cursor: pointer; text-decoration: none;">
				<p class="font-weight-bold pl-5" style="width: 100%;color: #585858; font-size: larger; ">Two Factor Authentication</p>
				<img style="margin-right:30px; height: 27px;" src="{% static 'settings/icons/arrow_forward.svg' %}" alt="forward_arrow">
			</a>

			<p style="width: 100%; padding-bottom: 20px; margin-bottom:20px;  border-bottom: 1px solid darkgray; " class=" pl-5 pr-5 muted"><small>Protect your account from unauthorized access by requiring a second authentication method in addition to your TalkingMind password. You can choose text message or authentication app</small></p>

			<div style="border-bottom: 1px solid darkgray; margin-bottom: 15px; cursor: pointer;">
				<a href="{% url 'authorized_devices' %}" style="font-size: larger; color: #585858; margin-bottom: 8px;" class="pl-5 font-weight-bold two-fact-link">Authorised logins</a>

				<p style="width: 100%;" class="pl-5 muted ">Review a list of devices on which you won’t have to use login code</p>

			</div>

			<h4 class="font-weight-bold pl-5" style="width: 100%; padding-bottom: 20px; margin-bottom:20px;  border-bottom: 1px solid darkgray; ">Extra security</h4>

			<div style="border-bottom: 1px solid darkgray; margin-bottom: 15px; cursor: pointer;">
				<a style="font-size: larger; color: #585858; margin-bottom: 8px;" class="pl-5 font-weight-bold two-fact-link">Get alert about unrecognised logins</a>

				<p style="width: 100%;" class="pl-5 muted ">We will let you know if anyone logs in from an unrecognized device or browser</p>

			</div>

      	</div>
{% endblock %}