{% extends 'settings/base.html' %}
{% load static %}
{% load two_factor %}

{% block css %}
<style>
	#cant_scan_qr_code:hover {
		color: #0dc9ef;
	}

	.loginBtn{
		color: #fff;
		border-radius: 20px;
		width: 100%;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 15px;
		background-color: #0dc9ef;
		border-color: #0dc9ef;
		box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.loginBtn:hover{
		color: white;
	}
</style>
{% endblock css %}


{% block content %}

    <div class="container security-container" style="padding-left: 0; padding-right: 0; margin-left: 0">

			<div class="pl-5" style="margin-bottom:20px; padding-bottom: 20px; width: 100%; border-bottom: 1px solid darkgray; display: flex;">
				<a href="{% url 'two-fact-auth-setting' %}">
				<img  style="width: 40px;"src="{% static 'settings/icons/back_button_bold.svg' %}" alt="back_button">
				</a>
				<h3 class=" ml-4 font-weight-bold" style=" width: 100%;">Two Factor Authentication</h3>
			</div>

       <form method="post">
        {{ wizard.management_form }}
		{% csrf_token %}

		{% if wizard.steps.current == 'welcome' %}
		<div class="pl-5" style="margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
			<div class="container-fluid">
				<div class="col-md-8 offset-md-2 text-center border" style="padding: 40px;">
					<img src="{% static 'settings/icons/shieldIcon.png' %}" alt='image not found'>
					<h4 style="margin-bottom: 25px;margin-top: 10px;font-weight: bold;">Protect your account with two factor authentication in just two steps</h4>
					<img src="{% static 'settings/icons/messageVectormessage.png' %}" style="width: 60px;height: auto;margin-left: 15px;" alt='image not found'>
					<p style="font-size: smaller;margin-top: 10px;">Verify your mobile phone number and receive a text message with a confirmation code.</p>
					<img src="{% static 'settings/icons/stars.png' %}" style="width: 110px;height: auto;" alt='image not found'>
					<p style="font-size: smaller;margin-top: 20px;">Enter the confirmation code to turn on two-factor authentication.</p>
					<button type="submit" class="btn loginBtn" style="margin-top: 20px;width: 150px;margin-left: auto;margin-right: auto;display: block;height: 40px;">Get Started</button>
				</div>
			</div>
			<br>
		</div>

		{% elif wizard.steps.current == 'verify_password' %}
		<p class="font-weight-bold pl-5" style="margin-bottom:20px; padding-bottom: 20px;width: 100%;color: #585858; font-size: larger; border-bottom: 1px solid darkgray;">Password Verification</p>
		<div class="pl-5" style="margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
			<div class="container-fluid">
				<div class="col-md-8 offset-md-2 border" style="padding: 30px;">
					{% if wizard.form.errors %}
						{% for field in wizard.form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in wizard.form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}

					<h5 style="margin-bottom: 25px;margin-top: 10px;font-weight: bold;">Enter your password</h5>
					<p>To get started, first enter your TalkingMind password to verify it's really you.</p>
					<div class="form-group">
						{{wizard.form.password}}
					</div>
					<button type="submit" class="btn loginBtn" style="width: 100px;">Verify</button>
				</div>
			</div>
			<br>
		</div>
		
		{% elif wizard.steps.current == 'sms' %}
			{% if skipMobileForm %}
				<br><br>
				<div class="d-flex justify-content-center">
					<div class="spinner-border" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
				<script>$("form").submit();</script>
			{% else %}
			<p class="font-weight-bold pl-5" style="margin-bottom:20px; padding-bottom: 20px;width: 100%;color: #585858; font-size: larger; border-bottom: 1px solid darkgray;">Text Message</p>
			<div class="pl-5" style="margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
				<div class="col-md-8 offset-md-2 border" style="padding: 30px;">
					{% if wizard.form.errors %}
						{% for field in wizard.form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in wizard.form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
					<h5 style="margin-bottom: 25px;margin-top: 10px;font-weight: bold;">Enter your mobile number</h5>
					<p>Verify your mobile phone number and receive a text message with a confirmation code.</p>
					<div class="form-group">
						{{wizard.form.number}}
					</div>
					<button type="submit" class="btn loginBtn" style="width: 100px;">Verify</button>
				</div>
				<br>
			</div>
			{% endif %}
		
		{% elif wizard.steps.current == 'validation' %}
			<p class="font-weight-bold pl-5" style="margin-bottom:20px; padding-bottom: 20px;width: 100%;color: #585858; font-size: larger; border-bottom: 1px solid darkgray;">Mobile Verification</p>
			<div class="pl-5" style="margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
				<div class="col-md-8 offset-md-2 border" style="padding: 30px;">
					{% if wizard.form.errors %}
						{% for field in wizard.form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in wizard.form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}

					<h5 style="margin-bottom: 25px;margin-top: 10px;font-weight: bold;">Enter confirmation code</h5>
					<p>We sent you a text message on {{device.number|mask_phone_number}}, please enter the confirmation code we sent</p>
					<div class="form-group">
						{{wizard.form.token}}
					</div>
					<button type="submit" class="btn loginBtn" style="width: 100px;">Verify</button>
				</div>
				<br>
			</div>
		{% elif wizard.steps.current == 'generator' %}

			{% if not wizard.form.errors %}
			<p id="p_token_verification" class="font-weight-bold pl-5" style="margin-bottom:20px; padding-bottom: 20px;width: 100%;color: #585858; font-size: larger; border-bottom: 1px solid darkgray;">Set Up Authenticator</p>
			<div id="set_up_authentication" class="pl-5" style="margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
			{% else %}
			<p id="p_token_verification" class="font-weight-bold pl-5" style="margin-bottom:20px; padding-bottom: 20px;width: 100%;color: #585858; font-size: larger; border-bottom: 1px solid darkgray;">Token Verification</p>
			<div id="set_up_authentication" class="pl-5" style="display:none;margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
			{% endif %}
		
			<p style="width: 100%; font-size: 20px; ">
				<ul>
					<li style="list-style: disc outside none;display: list-item;margin-left: 1em;">To link authentication app to your <b>TalkingMind</b> Account,</li>
					<li style="list-style: disc outside none;display: list-item;margin-left: 1em;">Install any Authenticator App from the Play Store like <b>Google Authenticator or Microsoft Authenticator</b></li>
					<li style="list-style: disc outside none;display: list-item;margin-left: 1em;">Open app and select <b>Add account</b></li>
					<li style="list-style: disc outside none;display: list-item;margin-left: 1em;">Choose <b>Scan a barcode</b></li>
					<li style="list-style: disc outside none;display: list-item;margin-left: 1em;">Now scan the QR code below</li>
				</ul>
				<div style="text-align: center;">
					<img src="{{ QR_URL }}" alt="QR Code" />
					<br><br>
					<a id="cant_scan_qr_code" style="cursor: pointer;">Can't Scan QR Code?</a>
					<div id="secret_key_div" style="display: none;">
						<p style="word-wrap:break-word;">
							If you can’t scan the QR code with your authentication app, 
							open app and select Enter Provided Key, 
							now enter the following code into the authentication app.
						</p>
						<p id="secret_key" style="font-weight: bold;word-wrap:break-word;">{{request.session.QR_KEY}}</p>
					</div>
					<br><br>
					<button id="btnNextToken" type="button" class="btn loginBtn" style="width: 100px;">Next</button>
				</div>
			</p>
		</div>

			{% if not wizard.form.errors %}
			<div id="verify_token" class="pl-5" style="display:none;margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
			{% else %}
			<div id="verify_token" class="pl-5" style="margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
			{% endif %}

			<div class="col-md-8 offset-md-2 border" style="padding: 30px;">
				{% if wizard.form.errors %}
					{% for field in wizard.form %}
						{% for error in field.errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endfor %}
					{% for error in wizard.form.non_field_errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endif %}
				
				<h5 style="margin-bottom: 25px;margin-top: 10px;font-weight: bold;">Enter confirmation code</h5>
				<p>Enter the 6-digit confirmation code generated by your authentication app.</p>
				<div class="form-group">
					{{wizard.form.token}}
				</div>
				<button type="submit" class="btn loginBtn" style="width: 100px;">Verify</button>
			</div>
			<br>
		</div>
		
		{% endif %}

		</form>


    </div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'settings/javascript/2fa.js' %}"></script>
{% endblock scripts %}