{% extends 'settings/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">

			<div class="pl-5" style="margin-bottom:20px; padding-bottom: 20px; width: 100%; border-bottom: 1px solid darkgray; display: flex;">

				<a href="{% url 'security-setting' %}">
				<img  style="width: 40px;"src="{% static 'settings/icons/back_button_bold.svg' %}" alt="back_button">
				</a>

				<h3 class=" ml-4 font-weight-bold" style=" width: 100%;">Two Factor Authentication</h3>

			</div>

			<p class="font-weight-bold pl-5" style="margin-bottom:20px; padding-bottom: 20px;width: 100%;color: #585858; font-size: larger; border-bottom: 1px solid darkgray;">Two Factor Authentication</p>

			<div class="pl-5" style="margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
				<div style="display: flex;">
					<p style="width: 100%; font-size: 20px; ">Text message</p>

					<input style=" height: 25px; width: 25px; margin-right: 40px; border-radius:8px; border:3px solid darkgray;" type="checkbox"/>
				</div>

				<p class="muted " style="color: #585858; font-size: 15px; padding-right: 60px;"><small>Use your mobile phone to receive a text message with an authentication code to enter when you login to TalkingMind </small></p>

			</div>


			<div class="pl-5" style="margin-bottom:20px; padding-bottom: 17px; width: 100%; border-bottom: 1px solid darkgray;">
				<div style="display: flex;">
					<p style="width: 100%; font-size: 20px; ">Authentication app </p>

					<input style=" height: 25px; width: 25px; margin-right: 40px; border-radius:8px; border:3px solid darkgray;" type="checkbox"/>
				</div>

				<p class="muted " style="color: #585858; font-size: 15px; padding-right: 60px;"><small>Use a mobile authenticator app to get a verification code to enter every time you log in to TalkingMind</small></p>

			</div>


      	</div>

{% endblock %}