html,body{
    width:100%;
    height:100%;

}

body{
    background-color: #F0F0F0;
    padding-bottom: 40px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

#post{
    border:1px solid darkgray;
    /*border-radius:20px;*/
    width:100%;
}

#post:hover{
    background-color:rgb(242,243,247)
}

#post-section{
     margin-top:50px
}

.post-container{
    width:80%;


}


#login-form{
    margin-top:50px;
    border:1px solid gray;
    padding-top:20px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
    margin-left:30px;
    border-radius:10px;
    width:70%;

}

.first-div{
    width:60%;
    float:left;
    margin-top:50px;

}

.second-div{
    width:40%;
    float:left;

}

.article-metadata{
  border-bottom: 1px solid gray;

}

.registration-form{
    border:1px solid gray;
    padding-top:20px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
    border-radius:10px;
    background-color: white;
}

.post{
    padding: 5px;
    border:1px solid lightgray;
    background-color: white;
    /*border-radius:20px;*/

}

#profile{
    border:1px solid lightgray;
    border-radius: 40px;
    padding: 5px;
}

.profile-content{
    border-left: 1px solid lightgray;
}



.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	align-items: center;
}


.filter-post-modal{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	align-items: center;
}


.modal-contents {
	/*height: 300px;
	width: 500px;*/
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;

}

.close:hover{
    color:#666;
}

.post-update-form{
    border:1px solid gray;
    padding-bottom: 10px;
    margin-top: 3rem;
    background-color: white;
}

.post-update-form input{
    width:100%;
}

.post-update-form textarea{
    width:100%;
}


.delete-post-modal{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	align-items: center;
}

/*------------------Testing---------------*/

#searchResult{
 list-style: none;
 padding: 0px;
 width: 250px;
 position: absolute;
 margin: 0;
}

#search-results li{
 background: lavender;
 padding: 4px;
 margin-bottom: 1px;
}

#search-results li:nth-child(even){
 background: cadetblue;
 color: white;
}

#search-results li:hover{
 cursor: pointer;
}

/*----------------- Abhishek------------- */
.regNav{
    background-color: #0dc9ef;
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.regNav .navbar-brand{
    color: white;
    display: contents;
}
.regNav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.mainNav{
    background-color: #0dc9ef;
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainNav .navbar-brand{
    color: white;
}
.mainNav ul li a{
    color: white !important;
    font-size: 20px;
    text-decoration: none;
}
.mainNav ul li a:hover{
    color: #ffffffcf !important;
}
.main-container{
    width: 100%;
    height: 100%;
}
.sub-container{
    padding: 5rem 0px;
}
.centerDiv{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 18px 11px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerDivHeader{
    text-align: center;
    padding-top: 20px;
}
.centerRow{
    border-bottom: 50px solid #0dc9ef;
}
.centerDivHeader h2{
    font-weight: 700;
}
.leftDiv, .rightDiv{
    padding: 2rem 4rem;
    text-align: center;
}
.leftDiv{
    text-align: center;
}
.registerBtn, .loginBtn{
    color: #fff;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: #0dc9ef;
    border-color: #0dc9ef;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loginBtn:hover{
    color: white;
}

.regInput:focus{
    border: 2px solid #0dc9ef;
    outline: none;
    color: #000000;
    font-weight: 500;
    outline: 0;
    box-shadow: none;
}
.regInput{
    color: #353232;
    letter-spacing: .2px;
}
.registerBtn:hover{
    color: #fff;
}



@media screen and (max-width: 767px){
    .centerDiv{
        margin: 0px 20px;
    }
    .leftDiv{
        display: none;
    }
    .leftDiv, .rightDiv{
        padding: 2rem 2rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .leftDiv, .rightDiv{
        padding: 2rem 2rem;
    }
}

.alert-danger {
    font-size: 14px;
    border-color: #0dc9ef;
    font-weight: 300;
}

.forgotPswd{
    margin: 14px 0px 0px 0px;
}
.forgotPswd a{
    text-decoration: none;
    color: black;
}
.forgotPswd a:hover{
    color: #0dc9ef;
}


/* body::-webkit-scrollbar {
    display: none;
} */

/* article  */
.selectBtnDiv{
    display: block;
    text-align: justify;
}
.selectBtnDiv .selectBtn{
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  margin: 6px 0px !important;
  padding: 1px 14px;
}
@media screen and (max-width: 480px){
  .selectBtnDiv .selectBtn{
      margin: 4px 0px !important;
    }
    .btn-outline-primary{
        font-size: 12px;
    }
}
.btn-outline-primary{
  color: #7436ff;
  font-weight: 500;
  border-color: #7436ff;
}
.btn{
  font-weight: 500;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #7436ff;
  border-color: #7436ff;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #7436ff;
  border-color: #7436ff;
}
.btn-outline-primary:active {
  color: #fff;
  background-color: #7436ff;
  border-color: #7436ff;
}
.skipBtn{
  text-align: end;
  margin: 0px 6px;
  font-size: 20px;
}
.skipBtn a{
  text-decoration: none;
  color: #0dc9ef;
}

/* article end */


/* blog before login */
.blogContainer{
    padding-right: 30px;
    padding-left: 30px;
}
.col-center{
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
}
.innerDivRight{
    border: 1px solid #a9a9a9;
    background: white;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
    /* box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.09); */
}
.innerDivRight div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}
.innerDivRight form h6{
    margin: 10px 0px;
}
.innerDivRight p{
    margin: 5px !important;
}


.loginHomeInput:focus{
    border: 2px solid #0dc9ef;
    outline: none;
    color: #000000;
    font-weight: 500;
    outline: 0;
    box-shadow: none;
}
.loginHomeInput{
    color: #353232;
    letter-spacing: .2px;
    border: 1px solid #7b7b7b9e;
}
.loginHomeBtn{
    color: #0dc9ef;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    border-color: #0dc9ef;
}
.signHomeBtn{
    color: white;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    background: #0dc9ef;
    border: 1px solid #0dc9ef;
}
.loginHomeBtn:hover{
    color: white;
    background-color: #0dc9ef;
}
.signHomeBtn:hover{
    color: white;
}

.mainCenterDiv{
    margin: 20px 0px;
}
.image-div{
    height: 20rem;
}
@media screen and (min-width: 360px) and (max-width: 479px){
    .image-div{
        height: 14rem;
    }
}
@media screen and (min-width: 480px) and (max-width: 575px){
    .image-div{
        height: 17rem;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    .image-div{
        height: 17rem;
    }
}
.image-div .image-group .card{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin:0px;
}
.image-div .image-group .card .card-in-image{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.card{
    margin: 10px 0px;
}

@media screen and (max-width:991px){
    .col-left{
        display: none;
    }
}
@media screen and (max-width:767px){
    .col-right{
        display: none;
    }
}


.cardHeadSection{
    display: flex;
    align-items: center;

}
.cardHeadSection .threeDot{

    text-align: end;
}
.dropleft .dropdown-toggle::before{
    display: none;
}

.cardHeadSection .threeDot p{
    margin: 0px;
    font-size: 18px;
}

/* .profileImg{
    width: 40px;
    height: 40px;
} */
.profileImg img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.profileTitle{
    margin: 0 0 0 10px;
    width: 100%;
}
.postProfileTitle{
    margin: 0 8rem 0 10px;
}
@media screen and (max-width: 479px){
    .postProfileTitle{
        margin: 0 2rem 0 10px;
    }
}
@media screen and (min-width: 480px) and (max-width: 575px){
    .postProfileTitle{
        margin: 0 6rem 0 10px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    .postProfileTitle{
        margin: 0 10rem 0 10px;
    }
}
.profileTitle a{
    text-decoration: none;
}
.profileTitle h6{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.profileTitle p{
    color: #00000066;
    font-size: 12px;
    margin-bottom: 0px;
}

.card-header{
    border-bottom: none;
    padding: 8px 15px;
}
.card-footer{
    padding: 10px 17px;
}
.footerBtn{
    display: flex;
}
.footerBtn .like, .footerBtn .comment, .footerBtn .share{
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.footerBtn div.save{
    width: 100%;
    text-align: end;
    padding-right: 0px;
}
.footerBtn div i{
    font-weight: bold;
    color: #0dc9ef;
    font-size: 17px;
    padding-right: 5px;
}
.footerBtn div i span{
    color: black;
    padding-left: 5px;
}
.card-body{
    padding: 10px 15px;
}
.card-img-bottom{
    height: 100%;
    max-height: 24rem;
     width: 100%;
     display: block;
     border-radius: 6px;
}
.card-title {
    margin-bottom: 0px;
    font-size: 16px;
    color: black;
}
.card-text {
    font-size: 14px;
    color: #525252;
    font-weight: 600;
    line-height: 17px;

    margin-bottom: 8px !important;
}
.footerBtn div i:hover{
    color: #0dc9efcf;
}
.press {

    animation: size .4s;
    color:#e23b3b !important;
}


/* --------------------Added by prashant ---------------------------  */

.save .saved {

    animation: size .4s;
    color: black !important;

}

 /* -----------------------------------------------------------------  */


@keyframes size {
    from {font-size: 14px;}
    to {font-size: 18px;text-shadow: 0 3px 6px #b74bf98a, 0 3px 3px #b74bf98a}
}
.fixed-bottom{
    background: #fff;
    border-top: 2px solid #0dc9efba;
    display: none;
}
@media screen and (max-width:767px){
    .fixed-bottom{
        display: block;
    }
}
.bottomBtnDiv{
    margin-top: 12px;
    margin-bottom: 10px;
}
.bottomBtn{
    color: #0dc9ef;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-top: 18px;
    margin-bottom: 12px;
    background: white;
    border: 2px solid #0dc9ef;
}
@media screen and (max-width:767px){
    .bottomBtn{
        display: block;
    }
}

/* .mainLeftDiv{
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.09);
} */
.sgstnCard{
    box-shadow: none;
}
.sgstnCard .card-header{
    display: flex;
    background: #0dc9ef;
}
.sgstnCard .card-header .cardHeaderName{
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
    width: 150px;
}
.sgstnCard .card-header .cardHeaderIcon{
    width: 100%;
    color: white;
    text-align: end;
    margin-bottom: 0px;
}
.sgstnBody{
    padding: 0px;
}
.sgstnBody .list-group-item{
    padding: 0.5rem 1rem;
}
.sgstnBody .list-group a{
    text-decoration: none;
    border-left: 0px;
    border-right: 0px;
}
.sgstnBody .list-group a:hover{
    background-color: #f0f0f0db;
}
.sgstnBody h6{
    font-size: 12px;
}
.sgstnBody img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.sgstnBody .list-group-item{
    border-radius: 0px;
}
.sgstnFooter{
    border-top: 0px;
    padding: 5px 15px;
    background-color: white;
}
.sgstnFooter a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.sgstAddBtn p {
    margin-bottom: 0px;
}
.sgstAddBtn p i{
    border: 1px solid #8e5aff;
    border-radius: 2px;
    padding: 2px;
    color: #0dc9ef;
    font-size: 12px;
}

/* blog before login end*/

/* @media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
} */

@media screen and (max-width: 991px){
    .blogContainer{
        padding-right: 15px;
        padding-left: 15px;
    }
}




.postBtnBody{
    display: flex;
    text-align: center;
    padding: 20px 35px;
    border-top: 6px solid #0dc9ef;
    cursor: pointer;
}
.postBtnBody div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.postBtnBody p{
    margin-bottom: 0px;
}
.postBtn{
    width: 100%;
    text-align: end;
    font-size: 18px;
}
.postBtn .btn{
    padding-left: 20px;
    padding-right: 20px;
    text-align: end;
    font-size: 18px;
    margin-top: 5px;
}

/* .sidenav{
    background: white;
    border: 1px solid #a9a9a9;
    background: white;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 15px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
} */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 20px; */
  }

  .sidenav a {
    padding: 6px 30px 10px 40px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: inline-flex;
    transition: 0.3s;
  }
  .sidenav a.active {
      color: #0dc9ef;
  }
  .sidenav a i{
    width: 1.685714em;
    display: inline-block;
    margin-top: 6px;
    padding-right: 8px;
  }
  .sidenav .sideMenu p{
    margin-bottom: 0px;
    font-weight: 600;
  }
  .sidenav a:hover {
    color: #0dc9ef;
  }
  .sidenav .closebtn {
    position: absolute;
    top: -12px;
    font-size: 25px;
    font-weight: 800;
    margin-left: 170px;
  }


  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    /* font-size: 28px; Increased text to enable scrolling */
    /* padding: 0px 10px; */
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media screen and (max-width: 991px) {
    .sidenav {
        width: 0px;
    }
    .main{
        margin-left: 0px;
    }
    .navbar-right .profile{
        display: none;
    }
  }


  @media screen and (min-width: 992px) {
    .closebtn{
        display: none !important;
    }
    .navbar-right .icons{
        display: none !important;

    }

  }

  .navbar-right .icons a{
    font-size: 24px;
}
  .navbar-right .icons a i{
    margin-left: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

  /* .menuProfileMainDiv{
    padding-top: 40px;
  } */
  .menuProfileMainDiv .menuProfile{
      display: flex;
      padding: 12px 25px 12px 25px;
      align-items: center;
      background: #f0f0f0;
  }
  .menuProfile .profileImg img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
  }
  .menuProfile .profileTitle h6{
        margin: 0px;
        font-size: 18px;
        color: #0dc9ef;
  }



  .sideNavBottom{
    background: #fff;
    border-top: 2px solid #0dc9ef;
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
  }
  .sideNavBottom ul{
    list-style: none;
    display: flex;
    padding: 4px 10px 0px 10px;
    justify-content: center;
    margin-bottom: 0px;
  }
  .sideNavBottom ul li a{
    font-size: 14px;
    padding: 2px 6px;
    font-weight: 700;
    letter-spacing: 0.4px;
  }
  .sideNavBottom .copyright{
    font-size: 13px;
    justify-content: center;
    color: black;
  }



  .brandName{
    padding-left: 30px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    color: #0dc9ef;
  }


  .filterBtnBody p{
    margin: 5px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.8px;
  }
  .filterBtnBody {
    cursor: pointer;
    border-bottom: 4px solid #0dc9ef;
    transition: 0.3s;
  }
  .filterBtnBody:hover {
    background: #f7f7f7;
  }



.recomdCard{
    box-shadow: none;
}
.recomdCard .card-header{
    display: flex;
    background: #ffffff;
    border-top: 5px solid #0dc9ef;
}
.recomdCard .card-header .cardHeaderName{
    color: black;
    font-size: 18px;
    margin-bottom: 0px;
    width: 400px;
}
.recomdCard .card-header .cardHeaderIcon{
    width: 100%;
    color: white;
    text-align: end;
    margin-bottom: 0px;
    font-size: 15px;
}
.recomdBody{
    padding: 0px;
}
.recomdBody .list-group-item{
    padding: 12px 1rem;
}
.recomdBody .list-group-item .cardHeadSection{
    display: flex;
    align-items: center;
}

.recomdBody .list-group a{
    text-decoration: none;
    border-left: 0px;
    border-right: 0px;
    transition: 0.4s;
}
.recomdBody .list-group a:hover{
    background-color: #f0f0f0db;
}
.recomdBody h6{
    font-size: 14px;
}
.recomdBody img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.recomdBody .list-group-item{
    border-radius: 0px;
}
.recomdFooter{
    border-top: 0px;
    padding: 8px 15px;
    background-color: white;
}
.recomdFooter a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.recomdAddBtn p {
    margin-bottom: 0px;
}
.recomdAddBtn p i.fa-minus {
    border: 2px solid red;
    border-radius: 50%;
    padding: 5px 6px;
    color: red;
    font-size: 11px;
}
.recomdAddBtn p i.fa-minus:hover {
    border: 2px solid red;
    background: red;
    color: white;
    transition: .5s ease;
}

.recomdAddBtn p i{
    border: 2px solid #0dc9ef;
    border-radius: 50%;
    padding: 5px 6px;
    color: #0dc9ef;
    font-size: 11px;
}
.recomdAddBtn p i:hover{
    border: 2px solid #0dc9ef;
    background: #0dc9ef;
    color: white;
    transition: .5s ease;
}

.fa-sign-out:before {
    content: "\f08b";
}


.close{
    transform: rotate(0deg);
}
button:focus {
    outline: none;
}
.navbar-brand .searchForm input{
    margin: 0px;
    width: 300px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.navbar-brand .searchForm input:focus{
    box-shadow: none;
}
.searchBtn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.searchBtn:focus{
    box-shadow: none;
}
.searchBtn:active{
    box-shadow: none !important;
}

@media screen and (min-width: 480px) and (max-width: 575px){
    .navbar-brand .searchForm input{
        width: 250px;
    }
}
@media screen and (min-width: 360px) and (max-width: 479px){
    .navbar-brand .searchForm input{
        width: 170px;
    }
}
@media screen and (min-width: 360px) and (max-width: 575px){
    .postBtnBody {
        padding: 10px 20px;
    }
}
@media screen and (max-width: 767px){
    .mainLeftDiv{
        display:none;
    }
}
@media screen and (min-width: 992px){
    .menuProfileMainDiv{
        display:none;
    }
}


.filterDiv{
    margin-top: 15px;
    margin-left: 5px;
}

.filterDiv h2 {
    width: 100%;
    text-align: end;
    border-bottom: 1px solid #000;
    line-height: 0px;
    margin: 9px 0 9px;
    font-size: 15px;
 }

 .filterDiv h2 span {
    background: #f0f0f0;
     padding:0 10px;
 }
 .filterDiv h2 span i{
    line-height: 0px;
    color: #0dc9ef;
 }


 .postInputDiv{
    padding: 0px 17px 0px 16px;
    width: 247rem;
 }
 .postInputDiv input{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
 }
 .postInputDiv input:focus{
    box-shadow: none;
 }
 @media screen and (min-width:360px) and (max-width:479px) {
     .postInputDiv input {
         font-size: 12px;
     }

     .postBtn .btn {
         padding-left: 18px;
         padding-right: 18px;
         padding-top: 3px;
         margin-top: 10px;
         padding-bottom: 3px;
     }
 }
/*----------------- Abhishek End-------- */



 /* profile pic */

 .profileCard{
    border-top: 5px solid #0dc9ef;
 }

 .profileHeaderDiv{
     display: flex;
     padding: 10px 15px 0px 15px;
 }
 .profileHeaderDiv div{
     width: 50%;
 }
 .profileHeaderDiv .profileEditBtn{
     text-align: end;
     cursor: pointer;
 }
 .profileHeaderDiv .profileEditBtn p{
     margin-bottom: 0px;
 }
 .profileHeaderDiv .profileEditBtn .fa-cog{
    color: #0dc9ef;
    transition:  0.6s ease-out;
    font-size: 20px;
 }
 .profileHeaderDiv .profileEditBtn .fa-cog:hover{
    transform: rotateZ(90deg);
 }

 .profilePicDiv{
    padding: 25px 15px;
    height: 100%;
    display: grid;
    align-items: center;
 }

 .profilePicDiv .profileImg img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profileDetailDiv{
    padding: 25px 15px;
    height: 100%;
}
.profileDetailDiv h5{
    font-weight: 700;
    margin-bottom: 0px;
}
.profileDetailDiv .email{
    color: #00000066;
}
.profileDetailDiv .about{
    font-size: 14px;
}
.profileDetailDiv .grpBtn {
    width: 100%;
    z-index: 0;
}
.profileDetailDiv .grpBtn button {
    padding: 3px 0px 3px 0px;
    width: 100px;
    border-radius: 0px;
    color: black;
    background-color: #ffffff;
    border-color: #0dc9ef;
}
.profileDetailDiv .grpBtn button.active {
    background-color: #0dc9ef !important;
    border-color: #0dc9ef !important;
    cursor: auto !important;
}
.profileDetailDiv .grpBtn button:active {
    background-color: #0dc9ef !important;

}
.profileDetailDiv .grpBtn button:hover {
    color: white;
    background-color: #0dc9ef;
}
.profileDetailDiv .grpBtn button:focus {
    box-shadow: none !important;
    border-color: #0dc9ef !important;
}
.profileDetailDiv .grpBtn button p{
    margin-bottom: 0px;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.profileDetailDiv .grpBtn button p.count{
    font-size: 15px;
}
.profileDetailDiv .grpBtn button p.text{
    font-size: 12px;
}

.profilePostCard{
    background: white;
    border-top: 5px solid #0dc9ef;
}
.profilePostCard nav{
    background: white;
    text-align: center;
    font-weight: 700;
}
.nav-tabs .nav-link.active{
    color: #0dc9ef;
    background-color: #fff;
    border-color: #47dbf9;
}
.nav-tabs .nav-link{
    width: 50%;
    color: black;
}


.mainProfiilePostCard{
    border: 1px solid #0dc9ef;
}
.mainProfiileNoPostCard{
    border: 1px solid #0dc9ef;
    padding: 10px;
}
.mainProfilePostDiv, .mainProfileAboutDiv{
    padding: 0px 10px;
}


.mainProfileAboutDiv .aboutCard{
    padding: 0px 20px;
    border: 1px solid #5ce3ff;
}
.mainProfileAboutDiv .aboutCard .aboutMainDiv{
    border-bottom: 1px solid #dfdfdf;
}

.articleCard{
    padding: 0px 15px;
    border-top: 5px solid #0dc9ef;
}
.articleMainDiv{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}
.articleMainDiv .articleMainHeaderDiv{
    display: flex;
    width: 100%;
}
 .articleMainDiv .articleMainHeaderDiv .articleEditBtn{
    width: 100%;
    text-align: end;
}
 .articleMainDiv .articleMainHeaderDiv .articleEditBtn p a i{
    color: #0dc9ef;
}
 .articleMainDiv .articleMainBodyDiv .btn-outline-primary:hover{
    color: #7436ff;
    background: none;
    border-color: #7436ff;
}

.mainProfileAboutDiv .aboutCard .contactMainDiv{
    padding-top: 15px;
}
.mainProfileAboutDiv .aboutCard .contactMainDiv .contactMainHeaderDiv{
    display: flex;
    width: 100%;
}
.mainProfileAboutDiv .aboutCard .contactMainDiv .contactMainHeaderDiv .contactDiv{
    width: 50%;
}
.mainProfileAboutDiv .aboutCard .contactMainDiv .contactMainHeaderDiv .contactEditBtn{
    width: 50%;
    text-align: end;
}
.mainProfileAboutDiv .aboutCard .contactMainDiv .contactMainHeaderDiv .contactEditBtn p a i{
    color: #0dc9ef;
    cursor: pointer;
}
.mainProfileAboutDiv .aboutCard .contactMainDiv .contactMainBodyDiv .table td, .table th {

    border-top: none;
}

.followNavCard .nav-tabs .nav-link{
    width: 33.333%;
}


.list-group-item{
    border: none;
}
.list-group-item h6{
    margin-bottom: 0px;
}
.trendingCard, .peopleKnow{
    border-top: 5px solid #0dc9ef;
}
@media screen and (max-width: 767px){
    .trendingCard{
        display: none;
    }
    .peopleKnow{
        display: none;
    }
}


.footerCommentDiv{
    display: flex;
    align-items: center;
}
.footerCommentDiv .commentBox{
    display: flex;
    width: 100%;
}
.footerCommentDiv .commentBox form{
    display: flex;
    width: 100%;
}
.footerCommentDiv .commentBox form input{
    margin: 0px auto;
    border: none;
    border-radius: 0px;
    background: #f7f7f7;
    font-weight: 500;
    color: #52525d;
    border-bottom: 1px solid #3d4146;
}
.footerCommentDiv .commentBox form input:focus{
    box-shadow: none !important;
}
.footerCommentDiv .commentBox form button{
    padding: 2px 10px;
}
.footerCommentDiv .commentBox form button:focus{
    box-shadow: none !important;
}
.footerCommentDiv .commentBox form button:hover{
    background-color: #0dc9ef;
    border-color: #0dc9ef;
}

form.reply-comment-form input{
    margin: 0px 20px 0px 0px !important;
    border: none !important;
    border-radius: 0px !important;
    background: #f7f7f7 !important;
    font-weight: 500 !important;
    color: #52525d !important;
    border-bottom: 1px solid #3d4146 !important;
}
form.reply-comment-form input:focus{
    box-shadow: none !important;
}
form.reply-comment-form button{
    padding: 2px 10px;
}
form.reply-comment-form button:focus{
    box-shadow: none !important;
}
form.reply-comment-form button:hover{
    background-color: #0dc9ef;
    border-color: #0dc9ef;
}


pre{
    white-space: pre-wrap;
    word-break: break-word;
}
a{
    text-decoration: none !important;
}

.allCommentDiv{
    padding-top: 15px;
}
.allCommentDiv ul li .profilePic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.allCommentDiv ul li{
    margin-bottom: 6px;
}
.allCommentDiv ul li h6 a{
    color: black;
    font-size: 15px;
}


.commentText{
    font-size: 12px;
    color: #525252;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.3px;
    margin-bottom: 0px;
}
.nested-commentTextBottomBtn .textBtn{
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}
.commentTextBottomBtn .textBtn{
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}
.commentlikeBtn{
    font-size: 12px;
    color: #0dc9ef;
    cursor: pointer;
}

.followerModalBody, .followingsModalBody{
    max-height: 450px !important;
}
.followerModalBody .followerListDiv,.followingsModalBody .followingListDiv{
    height: 100%;
    overflow-y: scroll;
}
.followerModalBody .followerListDiv::-webkit-scrollbar {
    display: none;
  }
  .followingsModalBody .followingListDiv::-webkit-scrollbar {
    display: none;
  }

.updateFormFLname, .regFormFLname{
    display: flex;
}

input:focus, textarea:focus{
    box-shadow: none !important;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
  }

  .profileImg:hover .overlay {
    opacity: 0.5;
  }

  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .commonTopics{
    background: #7436ff;
    color: white;
  }
  .commonTopics:hover{
    background: #7436ff !important;
    color: white !important;
  }


.articleMainBodyDiv div .commonIcon i{
    color: #7436ff;
}

.profileEditBtn p .btn{
    font-weight: 700;
    font-size: 13px;
    padding: 2px 15px;
    border-radius: 20px;
    background: #0dc9ef;
    border-color: #0dc9ef;
}
.profileEditBtn p .btn:active{
    background: #0dc9ef !important;
    border-color: #0dc9ef !important;
}
.profileEditBtn p .btn:hover{
    background: #30ddff !important;
    border-color: #30ddff !important;
}
.profileEditBtn p .btn:focus{
    box-shadow: none !important;
}
.profileEditBtn p a.cancelRequestBtn{
    background: #ff3333;
    border-color: #ff3333;
}
.profileEditBtn p a.cancelRequestBtn:active{
    background: #ff3333 !important;
    border-color: #ff3333 !important;
}
.profileEditBtn p a.cancelRequestBtn:hover{
    background: #ff4e4e !important;
    border-color: #ff4e4e !important;
}


.createPostCard{
    padding: 15px 20px;
    border-top: 5px solid #0dc9ef;
}
.addImageBtn{
    cursor: pointer;
    width: 100%;
    border: 1px solid #0dc9ef;
    border-radius: 4px;
    color: #0dc9ef;
    padding: .375rem .75rem;
    text-align: center;
    margin-bottom: 0px;
}
.addImageBtn.disable{
    cursor: pointer;
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
    color: grey;
    padding: .375rem .75rem;
    text-align: center;
    margin-bottom: 0px;
}

input:disabled{
    color: red !important;
}

.secondImageDiv{
    transition: .5s ease;
}
.secondImageDiv img{
    opacity: 0.2;
}
.secondImageDiv .middleImgText {
    display: block !important;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #47defd;
    border-radius: 3px;
    border: 1px solid #47defd;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.secondImageDiv .middleImgText .text {
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    padding: 0px 15px;
}

@media screen and (max-width: 479px){
    .card-img-bottom {
        max-height: 15rem;
    }
}
 @media screen and (min-width: 480px) and (max-width: 575px){
    .card-img-bottom {
        height: 18rem;
    }
}
@media screen and (min-width: 576px) and (max-width: 1199px){
    .card-img-bottom {
        height: 22rem;
    }
}

.cardImgBottom{
    height: 100%;
    max-height: 25rem;
    width: 100%;
    display: block;
    border-radius: 6px;
}

*Logo*/
.loginButton {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 15px;
  color: #FFF;
}
.loginButton:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginButton:focus {
  outline: none;
}
.loginButton:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginButton--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
}
.loginButton--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginButton--facebook:hover,
.loginButton--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginButton--google {
  background: #DD4B39;
}
.loginButton--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginButton--google:hover,
.loginButton--google:focus {
  background: #E74B37;
}

.link {
    color: #fff;
}

a:hover {
    color: #FFF;
}

/* User search page design */

.user_list_heading {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-left: 3rem; */
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width:650px){
    .user_list_heading{
        text-align: justify;
        margin-left: 60px;
        padding: 10px;
    }
}
@media screen and (max-width:1500px){
    .mainLeftDiv{
        display: none;
    }

    .user {
        max-width: 100%;
        align-items: center;
    }
}

.search-box {
    box-sizing: border-box;
    width: 22%;
    height: auto;
    padding-left: 1.6rem;
    margin-left: 1.9rem;
    border: 1px solid #808080;
    position: absolute;
    z-index: 10;
    background-color:#F0F0F0;
    display: none;
    margin-top: -0.5rem;
    overflow: scroll;
}


@media only screen and (max-width: 414px){
    .search-box {
        width: 100%;
        height: auto;
        position: absolute;
        padding-left: 3px;
        margin-left:14px;
        margin-top: -74px;
    }

}

/* New result page css design */

.profileImage {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.user {
        display: flex;
        /* background-color:#14b7c4; */
        padding: 10px;
		margin: 10px 10px 10px 11px;
        max-width: 100%;
		height: 130px;
        border: 1px solid lightgray;
        width: 812px;
}


.user ul {
        list-style: none;
		margin-left: 10px;
		margin-top: 0px;
}

.user ul li {
	margin: 2px;
}

.user ul li:nth-child(1){
	font-family: all;
	font-size: 32px;
    font-weight: 400px;
    margin-top: -5px;
    margin-bottom: 0;
}

.user ul li:nth-child(2){
	font-family: all;
    font-size: 25px;
    font-weight: lighter;
    color: #328495d1;
}

.user ul li:nth-child(3){
	font-family: all;
    color: black;
    font-size: 22px;
}

.user a {
    text-decoration: none;
	color: black;
}

.user a:hover{
    text-decoration: underline;
    color: indigo;
}
.users :hover {
	/* transform: rotateY(15deg); */
}

@media screen and (max-width: 460px){

	.user {
		height: 120px;
	}
	.user ul li:nth-child(1){
		font-size: 20px;

	}	
	.user ul li:nth-child(2){
		font-size: 15px;

	}
	.profileImage {
		width: 80px;
		height: 80px;
		margin-left: 5px;
	}
	.user ul{
		margin-left: 2px;
		padding-left: 4px;
	}
}

.emptyResults {
    width: 810px;
    margin-top: 10px;
}