html,body{
    width:100%;
    height:100%;

}

body{
    background-color: #F0F0F0;
    padding-bottom: 40px;
    font-family: 'Acme', sans-serif;

}

#post{
    border:1px solid darkgray;
    /*border-radius:20px;*/
    width:100%;
}

#post:hover{
    background-color:rgb(242,243,247)
}

#post-section{
     margin-top:50px
}

.post-container{
    width:80%;


}


#login-form{
    margin-top:50px;
    border:1px solid gray;
    padding-top:20px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
    margin-left:30px;
    border-radius:10px;
    width:70%;
    
}

.first-div{
    width:60%;
    float:left;
    margin-top:50px;

}

.second-div{
    width:40%;
    float:left;

}

.article-metadata{
  border-bottom: 1px solid gray;

}

.registration-form{
    border:1px solid gray;
    padding-top:20px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
    border-radius:10px;
    background-color: white;
}

.post{
    padding: 5px;
    border:1px solid lightgray;
    background-color: white;
    /*border-radius:20px;*/

}

#profile{
    border:1px solid lightgray;
    border-radius: 40px;
    padding: 5px;
}

.profile-content{
    border-left: 1px solid lightgray;
}



.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	align-items: center;
}

.bg-post-modal{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	align-items: center;
}

.update-post-modal{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	align-items: center;
}


.modal-contents {
	/*height: 300px;
	width: 500px;*/
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;

}

.close:hover{
    color:#666;
}

.post-update-form{
    border:1px solid gray;
    padding-bottom: 10px;
    margin-top: 3rem;
    background-color: white;
}

.post-update-form input{
    width:100%;
}

.post-update-form textarea{
    width:100%;
}


.delete-post-modal{
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	align-items: center;
}

/*------------------Testing---------------*/

#searchResult{
 list-style: none;
 padding: 0px;
 width: 250px;
 position: absolute;
 margin: 0;
}

#search-results li{
 background: lavender;
 padding: 4px;
 margin-bottom: 1px;
}

#search-results li:nth-child(even){
 background: cadetblue;
 color: white;
}

#search-results li:hover{
 cursor: pointer;
}

/*----------------- Abhishek------------- */
.regNav{
    background-color: #f73d4a;
    box-shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.regNav .navbar-brand{
    color: white;
}
.regNav ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.main-container{
    width: 100%;
    height: 100%;
}
.sub-container{
    padding: 5rem 0px;
}
.centerDiv{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 18px 11px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerDivHeader{
    text-align: center;
    padding-top: 20px;
}
.centerRow{
    border-bottom: 50px solid #f33543;
}
.centerDivHeader h2{
    font-weight: 700;
}
.leftDiv, .rightDiv{
    padding: 2rem 4rem;
    text-align: center;
}
.leftDiv{
    text-align: center;
}
.registerBtn, .loginBtn{
    color: #fff;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: #f33543;
    border-color: #f33543;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.loginBtn:hover{
    color: white;
}

.regInput:focus{
    border: 2px solid #f33543;
    outline: none;
    color: #000000;
    font-weight: 500;
    outline: 0;
    box-shadow: none;
}
.regInput{
    color: #353232;
    letter-spacing: .2px;
}
.registerBtn:hover{
    color: #fff;
}



@media screen and (max-width: 767px){
    .centerDiv{
        margin: 0px 20px;    
    }
    .leftDiv{
        display: none;
    }
    .leftDiv, .rightDiv{
        padding: 2rem 2rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .leftDiv, .rightDiv{
        padding: 2rem 2rem;
    }
}

.alert-danger {
    font-size: 14px;
    border-color: #f33543;
    font-weight: 300;
}

.forgotPswd{
    margin: 14px 0px 0px 0px;
}
.forgotPswd a{
    text-decoration: none;
    color: black;
}
.forgotPswd a:hover{
    color: #f73d4a;
}


/* body::-webkit-scrollbar {
    display: none;
} */

/* article  */
.selectBtnDiv{
    display: block;
    text-align: justify;
}
.selectBtnDiv .selectBtn{
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  margin: 6px 0px !important;
  padding: 1px 14px;
}
@media screen and (max-width: 480px){
  .selectBtnDiv .selectBtn{
      margin: 4px 0px !important;
    }
    .btn-outline-primary{
        font-size: 12px;
    }
}
.btn-outline-primary{
  color: #7436ff;
  font-weight: 500;
  border-color: #7436ff;
}
.btn{
  font-weight: 500;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #7436ff;
  border-color: #7436ff;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #7436ff;
  border-color: #7436ff;
}
.skipBtn{
  text-align: end;
  margin: 0px 6px;
  font-size: 20px;
}
.skipBtn a{
  text-decoration: none;
  color: #f73d4a;
}
/* article end */


/*----------------- Abhishek End-------- */



