{% extends 'blog/base.html' %}

{% block content %}
    <div class="container post-update-form col-4 offset-4 shadow-lg p-3 mb-5 bg-white rounded shadow-sm p-3 mb-5 bg-white rounded shadow p-3 mb-5 bg-white rounded">
        <div class="mt-2">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% if error_message %}
                <div class="alert alert-danger">
                    <strong>{{ error_message }}</strong>
                </div>
            {% endif %}
            <form id="postCreateForm">
                <h4 style="text-align: center;  display:inline;color: #4b204f;"><strong >New post</strong></h4>

                <div class="form-group" style="margin-top:15px;">
                    <strong>Title:</strong>
                    {{form.title}}
                </div>
                <div class="form-group">
                    <strong>Topics:</strong>
                    {{form.category}}
                </div>
                <div class="form-group">
                    <strong>Content:</strong>
                    {{form.content}}
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <strong>Image:</strong>
                    <input type="file" name="image" class="form-control" style="margin-top:2px;display:none;" accept="image/*" id="id_image">
                    <label style="cursor:pointer;" for="id_image">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </label>
                </div>
                <div class="container">
                    <div id="imagePreview" class="row">
                    </div>
                </div>
                <button type="submit" class="btn btn-block" style="background-color:#4b204f;color:white;">Post</button>
            </form>
        </div>
    </div>

{% endblock content %}


{% block footer %}
    <script type="text/javascript">
        var imgFile = Array(3)
        var imgAvailableIndex = Array();
        imgAvailableIndex = [0,1,2];

        function removeImg(imgCurrentIndex){
            $("#img"+imgCurrentIndex).remove();
            $("#id_image")[0].disabled = false;
            document.getElementsByClassName("fa fa-camera")[0].style.color = "black";
            imgAvailableIndex.push(imgCurrentIndex);
            imgAvailableIndex.sort();
            delete imgFile[imgCurrentIndex];
        };

        function filePreview(fileInput,imgCurrentIndex){
            var imgSrc = window.URL.createObjectURL(fileInput.files[0]);
            $("#imagePreview").append($('<div/>',{"id":"img"+imgCurrentIndex,"style":"padding:5px","class":"col mb-3"}).append([
                    $('<img/>',{"src":imgSrc,"width":'100%',"height":'100%'}),
                    $("<i/>",{"onclick":"removeImg({})".replace("{}",imgCurrentIndex),"class":"fa fa-times","style":"color:red;top: 15px;right: 15px;position: absolute;cursor: pointer;color:red;","aria-hidden":"true"})
                ])
            )
            if($("#imagePreview")[0].childElementCount==3){
                $("#id_image")[0].disabled = true;
                document.getElementsByClassName("fa fa-camera")[0].style.color = "grey";
            }
        };

        $("#id_image").change(function(){
            filePreview(this,imgAvailableIndex[0]);
            imgFile[imgAvailableIndex[0]] = this.files[0];
            delete imgAvailableIndex[0];
            imgAvailableIndex.shift();
        });

        $("#id_image").click(function(){
            if($("#imagePreview")[0].childElementCount==3){
                this.disabled = true;
                return false;
            }
            return true;
        });


        $("#postCreateForm")[0].addEventListener('submit', function(e) {
            e.preventDefault();
            const url = "{% url 'post-create' %}";
            const formData = new FormData();

            formData.append("csrfmiddlewaretoken","{{csrf_token}}");
            formData.append("title",$("input[name='title']").val());
            formData.append("content",$("textarea[name='content']").val());
            formData.append("category",$("select[name='category']").val());

            imgFile.forEach(function(item, index){
                formData.append('images', item);
            });
          
            fetch(url, {
              method: 'POST',
              body: formData,
            }).then(response => {
              window.location.href = response.url;
            })

        });

    </script>
{% endblock footer %}