{% extends "blog/basic.html" %}

{% block section %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card createPostCard">
                                <div class="">
                                        {% if form.errors %}
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if error_message %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error_message }}</strong>
                                            </div>
                                        {% endif %}
                                        <form id="postCreateForm">
                                            <h5>Create New Post</h5>
                                            <div class="form-group mt-3">
                                                {{form.title}}
                                            </div>
                                            <div class="form-group">
                                                {{form.category}}
                                            </div>
                                            <div class="form-group">
                                                {{form.content}}
                                            </div>
                                            <div class="container">
                                                <div id="imagePreview" class="row">
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="form-group w-25 mr-1 mb-0" >
                                                    <input type="file" name="image" class="form-control" style="margin-top:2px;display:none;" accept="image/*" id="id_image">
                                                    <label class="addImageBtn" for="id_image">
                                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                                    </label>
                                                </div>
                                                <button type="submit" class="btn btn-sm btn-outline-success w-75 ml-1">Post</button>
                                            </div>

                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card trendingCard">
                                <div class="card-header">
                                <h6>Trending Topics</h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h6>#corona</h6>
                                        </li>
                                        <li class="list-group-item">
                                            <h6>#Language</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#movies</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#Songs</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#education</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#movies</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#programming</h6>

                                        </li>
                                    </ul>
                            </div>
                            </div>
                            <div class="card peopleKnow">
                                <div class="card-header">
                                    <p class="cardHeaderName">People you may know</p>
                                    <!-- <p class="cardHeaderIcon"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></p>                                           -->
                                </div>
                                <div class="card-body recomdBody">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card-footer recomdFooter text-center">
                                    <a href="">See More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
{% endblock section %}
      <!-- </div> -->


{% block script %}
    <script type="text/javascript">
        var imgFile = Array(3);
        var imgAvailableIndex = Array();
        imgAvailableIndex = [0,1,2];

        function removeImg(imgCurrentIndex){
            $("#img"+imgCurrentIndex).remove();
            $("#id_image")[0].disabled = false;
            $(".addImageBtn").removeClass("disable");
            //document.getElementsByClassName("fa fa-camera")[0].style.color = "black";
            imgAvailableIndex.push(imgCurrentIndex);
            imgAvailableIndex.sort();
            delete imgFile[imgCurrentIndex];
        }

        function filePreview(fileInput,imgCurrentIndex){
            var imgSrc = window.URL.createObjectURL(fileInput.files[0]);
            $("#imagePreview").append($('<div/>',{"id":"img"+imgCurrentIndex,"style":"padding:5px","class":"col mb-3"}).append([
                    $('<img/>',{"src":imgSrc,"width":'100%',"height":'100%'}),
                    $("<i/>",{"onclick":"removeImg({})".replace("{}",imgCurrentIndex),"class":"fa fa-times","style":"color:red;top: 15px;right: 15px;position: absolute;cursor: pointer;color:red;","aria-hidden":"true"})
                ])
            );
            $("#imageAlert").text("aaaa");
            if($("#imagePreview")[0].childElementCount === 3 ){
                $("#id_image")[0].disabled = true;
                $(".addImageBtn").addClass("disable");
                document.getElementsByClassName("fa fa-camera")[0].style.color = "grey";
            }
        }

        $("#id_image").change(function(){
            filePreview(this,imgAvailableIndex[0]);
            imgFile[imgAvailableIndex[0]] = this.files[0];
            delete imgAvailableIndex[0];
            imgAvailableIndex.shift();
        }).click(function(){
            if($("#imagePreview")[0].childElementCount === 3){
                this.disabled = true;
                return false;
            }
            return true;
        });


        $("#postCreateForm")[0].addEventListener('submit', function(e) {
            e.preventDefault();
            const url = "{% url 'post-create' %}";
            const formData = new FormData();

            formData.append("csrfmiddlewaretoken","{{csrf_token}}");
            formData.append("title",$("input[name='title']").val());
            formData.append("content",$("textarea[name='content']").val());
            formData.append("category",$("select[name='category']").val());

            imgFile.forEach(function(item, index){
                formData.append('images', item);
            });

            fetch(url, {
              method: 'POST',
              body: formData,
            }).then(response => {
              window.location.href = response.url;
            })

        });

    </script>
{% endblock script %}