{% extends "blog/basic.html" %}
{% load custom_tag %}
{% load static %}


{% block section %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div id="replaceable-content" class="search-box col-6">
                    {% include 'blog/user-search-results.html' %}
                </div> 
                <div class="col-lg-8 col-md-8">
                    <a href="{% url 'post-create' %}" class="card" >
                        <div class="postBtnBody">
                            <div class="profileImg"><img src="{{user.profile.image.url}}"></div>
                            <div class="postInputDiv"><input class="form-control form-control-sm" type="text"  placeholder="What's in your mind.." ></div>
                            <p class="postBtn"><button class="btn btn-primary">Post</button></p>
                        </div>
                    </a>
                    <div class="filterDiv">
                        <h2><span>Filter by: <i class="fa fa-filter" aria-hidden="true" data-toggle="modal" data-target="#filterModal"></i></span></h2>
                    </div>

                    <div class="mainCenterDiv infinite-container">
                        {% if posts_count > 0 %}
                            {% for post in paginated_posts %}
                                <div class="card infinite-item">
                                    <div class="card-header">
                                        <div class="cardHeadSection">
                                            <div class="profileImg"><a href="{% url 'other-profile' post.author.id %}"><img src="{{post.author.profile.image.url}}"></a></div>
                                            <div class="profileTitle">
                                                <a href="{% url 'other-profile' post.author.id %}"><h6>{{ post.author.first_name }} {{post.author.last_name}}</h6></a><p>{{post.date_posted|timesince}} ago </p>
                                            </div>
                                            <div class="threeDot">
                                                <div class="dropleft">
                                                    <p class="dropdown-toggle cursor-pointer" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></p>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item">report</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-body">

                                        <a href="{% url 'single-post' post.id %}">
                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <pre class="card-text showLess">{{ post.content }}</pre>
                                        </a>

                                        {% if post.images.all %}
                                        <a href="{% url 'single-post' post.id %}">
                                            <div class="image-div" data-id="{{post.images.all}}">
                                                <div class="card-group image-group h-100 d-flex" style="flex-direction: row;">
                                                    {% if post.images.all.count > 2 %}
                                                            <div class="card w-100" style='background: url("{{post.images.all.0.image.url}}");'>
                                                            </div>
                                                            <div class="card w-100">
                                                                <div class="card-header card-in-image h-50" style='background: url("{{post.images.all.1.image.url}}");'></div>
                                                                <div class="card-footer card-in-image h-50" style='background: url("{{post.images.all.2.image.url}}");'></div>
                                                            </div>
                                                    {%else%}
                                                        {% for postImage in post.images.all %}
                                                            <div class="card w-100" style='background: url("{{postImage.image.url}}");'>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </a>
                                        {% endif %}

                                </div>




                                    <div class="card-footer">
                                        <div class="footerBtn">
                                            {% csrf_token %}
                                            {% if user in post|liked_list  %}
                                                <div id="like"  class="like" ><i id="heart" onclick="post_like(this,{{post.id}})" class="fa fa-heart press" aria-hidden="true" data-catid="{{post.id}}" ><span class="total-likes" >{{post.likes_count}}</span></i ></div>
                                            {% else %}
                                                <div id="like"  class="like" ><i id="heart" onclick="post_like(this,{{post.id}})" class="fa fa-heart" aria-hidden="true" data-catid="{{post.id}}"><span class="total-likes" >{{post.likes_count}}</span></i ></div>
                                            {% endif %}
                                            <div class="comment"><a href="{% url 'single-post' post.id %}"><i class="far fa-comments"></i></a><span>13</span></div>
                                            <div class="share"><i class="fa fa-paper-plane" aria-hidden="true"></i><span>28</span></div>
                                            {% if post.id in user.profile|saved_post %}
                                                <div class="save"><i class="fa fa-bookmark saved" onclick="post_save(this,{{post.id}})" aria-hidden="true" data-catid = {{post.id}}></i></div>
                                            {% else %}
                                                <div class="save"><i class="fa fa-bookmark" onclick="post_save(this,{{post.id}})" aria-hidden="true" data-catid = {{post.id}}></i></div>
                                            {% endif %}



                                        </div>
                                    </div>
                                    <div class="card-footer card-footer-comment">
                                        <div class="footerCommentDiv">
                                            <div class="commentBox">
                                                <form class="comment-form">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="0" id="hiddenInput">
                                                    {{comment_form.commented_text}}
                                                    <button type="submit" class="btn btn-outline-info commentBtn" data-catid="{{post.id}}"><i class="fas fa-paper-plane"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="allCommentDiv" id="allCommentDiv">
                                            <ul class="list-unstyled single-post-cmt-div{{post.id}} mb-0">
                                                {% if post.comments.all %}
                                                    <li class="media">
                                                    <a href="#"><img class="mr-3 profilePic" src="/media/default.jpeg" alt="img"></a>
                                                    <div class="media-body w-50">
                                                        <h6 class="mt-0 mb-1 profileName"><a href="#">{{post.comments.all.0.author.first_name}} {{post.comments.all.0.author.last_name}}</a><span class="ml-3 commentlikeBtn"><i class="fa fa-heart" data-catid="{{post.comments.all.0.id}}"></i></span></h6>
                                                        <p class="commentText">{{post.comments.all.0.commented_text}}</p>
                                                        <div class="commentTextBottomBtn">
                                                            <span class="textBtn">9h</span>
                                                            <span class="textBtn"><span>5</span> likes</span>
                                                            <span class="textBtn">reply</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endif %}
                                            </ul>


                                    </div>

                                  </div>
                                </div>
                                {% endfor %}
                        {% else %}
                            <h5>Any post regarding this topics not published</h5>
                        {% endif %}

                        </div>
                         {% if paginated_posts.has_next %}
                            <a class="infinite-more-link" href="?page={{ paginated_posts.next_page_number }}"></a>
                         {% endif %}
                         <div class="d-flex justify-content-center" style="display:none;">
                            <div class="spinner-border" role="status" style="display:none;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="mainLeftDiv">

                        <div>
                            <div class="card recomdCard">
                                <div class="card-header">
                                    <p class="cardHeaderName">Recommendation for you</p>
                                </div>
                                <div class="card-body recomdBody">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6><p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6><p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6><p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6><p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6><p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                </div>

                                <div class="card-footer recomdFooter text-center">
                                    <a href="">Explore More</a>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{new_post_form.title}}
                        {{new_post_form.content}}
                        {{new_post_form.category}}
                        <button type="submit" class="btn btn-block mt-2" style="background-color:#4b204f;color:white;">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose article topics to filter.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">{%csrf_token%}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group btn-group-toggle selectBtnDiv" data-toggle="buttons">
                                    {% for id,name in category_list %}
                                        {% if id in topicId %}
                                            <label class="btn btn-outline-primary selectBtn">
                                            <input type="checkbox" value="{{id}} " name="topicId" id="defaultUnchecked{{forloop.counter}}" checked autocomplete="off" checked> {{name}}
                                            </label>
                                        {% else %}
                                            <label class="btn btn-outline-primary selectBtn">
                                            <input type="checkbox" value="{{id}} " name="topicId" id="defaultUnchecked{{forloop.counter}} autocomplete="off" > {{name}}
                                            </label>
                                        {% endif %}
                                    {%endfor%}
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-outline-success">Apply Filter</button>
                        </div>
                 </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="height: 100vh;width: 100%;max-width: 100%;margin: 10px 10px;">
            <div class="modal-content bg-transparent" style="height: 96%;">
                <div class="" style="position: absolute;
                width: 100%;
                overflow: auto;
                height: 100%;">
                    <div id="carouselExampleControls" class="carousel slide h-100" data-interval="false" data-ride="carousel">

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner h-100">
                        <div class="carousel-item h-100 active">
                            <div style="background:url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);background-size: contain;
                            background-repeat: no-repeat !important;
                            background-position: center !important;width:100%;height:100%;"></div>
                        </div>

                        <div class="carousel-item h-100">
                            <div style="background:url(https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687);background-size: contain;
                            background-repeat: no-repeat !important;
                            background-position: center !important;width:100%;height:100%;"></div>

                        </div>

                        <div class="carousel-item h-100">
                            <div style="background:url(https://i.pinimg.com/originals/83/f9/37/83f937b69f30bb886ab8a03390da6771.jpg);background-size: contain;
                            background-repeat: no-repeat !important;
                            background-position: center !important;width:100%;height:100%;"></div>

                        </div>
                      </div>

                      <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

{% endblock section %}


{% block scripts %}

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container'),
        onBeforePageLoad: function () {
            $('.spinner-border').show();
        },
        onAfterPageLoad: function () {
            $('.spinner-border').hide();
        }
    });

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    
    $(document).ready(function(){
        $(".userSearchInput").focusout(()=>{
            $(".search-box").slideUp('fast');
        });    

        $(".userSearchInput").focusin(()=>{
            $(".search-box").slideDown('fast');
        });       
    });

</script>


{% endblock scripts %}
