{% extends "blog/basic.html" %}
{% load custom_tag %}

{% block section %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div id="replaceable-content" class="search-box col-6">
                    {% include 'blog/user-search-results.html' %}
                </div> 
                <div class="col-lg-8 col-md-8">

                    <div class="mainCenterDiv">
                        <div class="card">
                            <div class="card-header">
                                <div class="cardHeadSection">
                                    <div class="profileImg"><a href="{% url 'other-profile' singlePost.author.id %}"><img src="{{singlePost.author.profile.image.url}}"></a></div>
                                    <div class="profileTitle">
                                        <a href="#"><h6>{{ singlePost.author }}</h6></a><p>@prashant </p>
                                    </div>
                                    <div class="threeDot">
                                        <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i></p>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ singlePost.title }}</h5>
                                <pre class="card-text">{{ singlePost.content }}</pre>

                                {% if singlePost.images.all %}
                                    <div class="image-div">
                                        <div class="card-group image-group h-100 d-flex" style="flex-direction: row;">
                                            {% if singlePost.images.all.count > 2 %}
                                                    <div class="card w-100" style='background: url("{{singlePost.images.all.0.image.url}}");'>
                                                    </div>
                                                    <div class="card w-100">
                                                        <div class="card-header card-in-image h-50" style='background: url("{{singlePost.images.all.1.image.url}}");'></div>
                                                        <div class="card-footer card-in-image h-50" style='background: url("{{singlePost.images.all.2.image.url}}");'></div>
                                                    </div>
                                            {%else%}
                                                {% for postImage in singlePost.images.all %}
                                                    <div class="card w-100" style='background: url("{{postImage.image.url}}");'>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}



                            </div>
                            <div class="card-footer">
                                <div class="footerBtn">
                                    {% csrf_token %}
                                    {% if user.id in singlePost|liked_list  %}
                                        <div id="like"  class="like" ><i id="heart" class="fa fa-heart press" aria-hidden="true" data-catid="{{singlePost.id}}"><span class="total-likes" >{{singlePost.likes_count}}</span></i ></div>
                                    {% else %}
                                        <div id="like"  class="like" ><i id="heart" class="fa fa-heart" aria-hidden="true" data-catid="{{singlePost.id}}"><span class="total-likes" >{{singlePost.likes_count}}</span></i ></div>
                                    {% endif %}
                                    <div class="comment"><i class="far fa-comments"></i><span>13</span></div>
                                    <div class="share"><i class="fa fa-paper-plane" aria-hidden="true"></i><span>28</span></div>
                                    {% if singlePost.id in user.profile|saved_post %}
                                        <div class="save"><i class="fa fa-bookmark saved" aria-hidden="true" data-catid = {{singlePost.id}}></i></div>
                                    {% else %}
                                        <div class="save"><i class="fa fa-bookmark " aria-hidden="true" data-catid = {{singlePost.id}}></i></div>
                                    {% endif %}
                                </div>
                                <!-- {{ post.date_posted }} -->
                            </div>
                            <div class="card-footer card-footer-comment" id="comment">
                                <div class="footerCommentDiv">
                                    <div class="commentBox">
                                        <form class="comment-form">
                                            {% csrf_token %}
                                            <input type="hidden" value="0" id="hiddenInput">
                                            {{comment_form.commented_text}}
                                            <button id="replyCommentBtn" type="submit" class="btn btn-outline-info commentBtn" data-catid="{{singlePost.id}}"><i class="fas fa-paper-plane"></i></button>
                                        </form>
                                    </div>
                                </div>

                                <div class="allCommentDiv">
                                    <ul class="list-unstyled single-post-cmt-div{{singlePost.id}} mb-0">
                                        {% if allComments %}
                                        {% for comment in allComments %}
                                            <li class="media">
                                                <a href="#"><img class="mr-3 profilePic" src="/media/default.jpeg" alt="img"></a>
                                                <div class="media-body w-50">
                                                    <h6 class="mt-0 mb-1 profileName">
                                                        <a href="#">{{comment.author.first_name}} {{comment.author.last_name}}</a>
                                                        {% csrf_token %}
                                                        <span class="ml-3 commentlikeBtn"><i class="fa fa-heart" data-catid="{{comment.id}}"></i></span>
                                                    </h6>
                                                    <p class="commentText">{{comment.commented_text}}</p>
                                                    <div class="commentTextBottomBtn mb-1" id="commentTextBottomBtn{{comment.id}}">
                                                        <span class="textBtn">{{comment.comment_date|timesince}}</span>
                                                        <span class="textBtn"><span class="likes_count{{comment.id}}" >{{comment.cmt_likes_count}}</span> likes</span>
                                                        <span id="repltBtn{{comment.id}}" class="textBtn replyBtn" data-catid="{{comment.id}}" data-root="{{comment.id}}" onclick="reply(this);">reply</span>

                                                    </div>

                                                    <div class="commentRplyDiv" id="commentRplyDiv{{comment.id}}">
                                                        <ul class="list-unstyled">
                                                            {{comment.id | get_nested_comment:comment.id}}
                                                        </ul>
                                                    </div>

                                                    <div class="collapse-div" id="replyInput{{comment.id}}" style="display: none;">
                                                       <form class="reply-comment-form d-flex">
                                                            {% csrf_token %}
                                                            {{comment_form.commented_text}}
                                                            <button id="commentBtn" type="submit" class="btn btn-outline-info commentBtn" data-catid="{{singlePost.id}}"><i class="fas fa-paper-plane"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>

                                </div>



                                <!-- {{ post.date_posted }} -->
                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="mainLeftDiv">
                        <div>
                            <div class="card recomdCard">
                                <div class="card-header">
                                    <p class="cardHeaderName">Recommendation for you</p>
                                </div>
                                <div class="card-body recomdBody">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img
                                                        src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1">
                                                </div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6>
                                                    <p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img
                                                        src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1">
                                                </div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6>
                                                    <p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img
                                                        src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1">
                                                </div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6>
                                                    <p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img
                                                        src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1">
                                                </div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6>
                                                    <p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><img
                                                        src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1">
                                                </div>
                                                <div class="profileTitle">
                                                    <h6>Prashant jha</h6>
                                                    <p>@user </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                </div>

                                <div class="card-footer recomdFooter text-center">
                                    <a href="">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- </div> -->

<script>
      $(document).ready(function(){
        $(".userSearchInput").focusout(()=>{
            $(".search-box").slideUp('fast');
        });    

        $(".userSearchInput").focusin(()=>{
            $(".search-box").slideDown('fast');
        });       
    });
</script>

{% endblock section %}







