{% extends 'blog/base.html' %}


{% block css %}

<style>

    /* *{
        box-sizing: border-box;
    } */

</style>

{% endblock css %}



    <!-- {{ name } -->
{% block content %}
    <!-- {% if name %}
        {% for data in name %}
            Name: {{data.first_name}}{{data.last_name}} Username: {{data.username}}
            <img src="{{data.profile.image.url}}" alt="User profile picture">
        {% endfor %}
    {% else %}
    <h1>No data found</h1>
    {% endif %} -->
    <!-- <div class="cards">
        {% if name %}
            {% for data in name %}
            <div class="card_image">
                <a href="{% url 'other-profile' data.id %}"><img src="{{data.profile.image.url}}" alt="User profile picture"></a>
            </div>
                <div class="card__content">
                    <p>Name: {{data.first_name}} {{data.last_name}}</p>
                    <p>Username: {{data.username}}</p>
                    <p>{{data.profile.bio}}</p>
                </div>
                <hr>
            {% endfor %}
        {% else %}
        <h1>No data found</h1>
        {% endif %}
    </div> -->



    {% if name %}
    <h1 class="user_list_heading">{{name.count}}+ results for "{{search}}"</h1>
        {% for data in name %}
        
        <section class="con">
            <hr style="background-color: #0dc9ef;">
            <ul class="list_content">
                <li class="list-item">
                    <a href="{% url 'other-profile' data.id %}" class="base-search-card">
                        <div class="search-entity-media">
                            <img src="{{data.profile.image.url}}" alt="User profile picture" class="artdeco-entity-image artdeco-entity-image--profile artdeco-entity-image--circle-4">
                        </div>
                        <!-- <div class="profileEditBtn">
                            <p><a class='btn btn-primary {{button_class}}' id="follow-user" data-id="{{user_id.id}}" >{{button_text}}</a></p> -->
                            <!-- <p><a ><i class="fas fa-cog" data-toggle="modal" data-target="#settingModal"></i></a></p> -->
                        <!-- </div> -->
                        <div class="base-search-card__info">
                            <h3 class="base-search-card__title">{{data.first_name}} {{data.last_name}}</h3>
                            <h4 class="base-search-card__subtitle">@{{data.username}}</h4>
                            <h4 class="base-search-card__bio">{{data.profile.bio}}</h4>
                        </div>
                    </a>
                </li>
            </ul>           
        </section>

        {% endfor %}
    {% else %}
    <h1 style="text-align: center;">We couldn't find a match for  <bold>"{{search}}"</bold></h1>
    <h4 style="text-align: center; color: gray;font-family: Arial, Helvetica, sans-serif;">Try double-checking your spelling.</h2>
    {% endif %}
{% endblock content %}



  