{% load staticfiles %}
<script type= "text/javascript" src="{% static '/channels/js/websocketbridge.js' %}"></script>

{% if rec_request %}
    <div class="container col-6 my-4">
        <h4>Follow requests:</h4><br>
        {% for r_request in rec_request %}
            <a style="margin-right: 20px; display: inline; font-size: 30px;" href="{% url 'other-profile' r_request.from_user.id %}">{{ r_request.from_user.username }}</a>
            <small><a class='btn btn-primary' href=" {% url 'accept_follow_request' r_request.from_user.id %}">Accept</a></small>
            <small><a class='btn btn-warning' href=" {% url 'delete_follow_request' r_request.from_user.id %}">Delete</a></small>
            <br>
        {% endfor %}
    </div>
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function(){
        const webSocketBridge = new channels.webSocketBridge();
        webSocketBridge.connect('/ws/');
        webSocketBridge.listen(function(action, stream){
            console.log("RESPONSE",action,stream);
        })
        document.ws = webSocketBridge;
    })
</script>