{% extends 'blog/base.html' %}

{{posts}}

{% block content %}

    <div class = "container col-lg-6 col-md-10 offset-md-1 offset-lg-3 mt-5 shadow-lg p-3 mb-5 bg-white rounded" id = "profile" style="background-color: white;" >

        <div class="row container">

            <img class="rounded-circle account-img col-3 mt-2" height="150px"  src="{{user_id.profile.image.url}}">
            <div class="col-9 profile-content ">
                <h4 class="account-heading" style="color:#4b204f;display: inline" >{{user_id.username}}</h4>

<!--                <a id="follow-button" class="button btn btn-primary"  style="display: inline;float: right; border-radius: 30px;">Follow</a>-->
                {% if button_status == 'not_following' %}
                    <small><a style="display: inline;float: right; border-radius: 30px;" class='btn btn-primary'  href="{% url 'send_follow_request' user_id.id %}">Follow</a></small>
                {% elif button_status == 'requested' %}
                    <small><a style="display: inline;float: right; border-radius: 30px; background-color: darkslategrey" class='btn btn-primary' href="{% url 'cancel_follow_request' user_id.id %}">Cancel request</a></small>
                {% elif button_status == 'none' %}
                    <small><a style="display: inline;float: right; border-radius: 30px; background-color: red; color:white;" class='btn btn-primary' href="{% url 'unfollow_user' user_id.id %}">Unfollow</a></small>
                {% endif %}
                <p class="content">{{user_id.profile.about}}</p>

                <div style="float: left; margin-left: 50px;">
                    <strong style="color: rebeccapurple">Followers<br></strong>
                    <center>{{followers_count}}</center>
                </div>
                <div style="float: left;margin-left: 50px">
                    <strong style="color: rebeccapurple">Following<br></strong>
                    <center>{{following_count}}</center>
                </div>
                <div style="float: left;margin-left: 50px">
                    <strong style="color: rebeccapurple">Posts<br></strong>
                    <center>{{posts.count}}</center>
                </div>


            </div>
        </div>
    </div>

{% if article_category %}
    <div class="container col-lg-6 col-md-10 offset-md-1 offset-lg-3 mt-5 shadow-lg p-3 mb-5 bg-white rounded" id="profile" style="background-color: white;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for topic in article_category %}
                            {% if topic in common_topics %}
                                <div class="card" style="margin: 5px;background: #7436ff;color: white;">
                                    <div class="card-header" style="padding: 7px;">{{topic}}</div>
                                </div>
                            {% else %}
                                <div class="card" style="margin: 5px;">
                                    <div class="card-header" style="padding: 7px;">{{topic}}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <div style="align-items: center;display: flex;">
                        <div style="height: 15px;width: 15px;background-color: #7436ff;"></div>
                        <b style="margin-left: 10px;">Common Topics</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    <div class="container col-8 offset-2">

        <div class="container col-10 offset-1 mt-2">
            <h4 class="mt-4"><strong>{{user_id.username}}'s posts</strong></h4>
               {% for post in posts %}
                    <div id="post" class="post shadow p-3 mb-1 bg-white rounded" style="background-color: white;">
                        <div class="article-metadata ">
                            <a class="mr-2" href="#">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted }}</small>
                        </div>
                        <h3><a class="article-title" href="#">{{ post.title }}</a></h3>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                {% endfor %}
        </div>

    </div>

    <div class="bg-modal ">
        <div class="modal-contents col-4 offset-4 mt-5">

            <div class="close " onclick="closeModal()">+</div>

            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{user_form.username}}
                {{user_form.email}}
                {{profile_form.about}}
                {{profile_form.image}}

                <button type="submit" class="btn btn-block" style="background-color:#4b204f;color:white;">Update</button>

            </form>

        </div>
    </div>



{% endblock content %}