

{% extends "blog/base.html" %}


{% block content %}

<div class="main-container">
    <div class="container">
        <div class="row sub-container">
            <div class="col-md-3"></div>
            <div class="col-md-6 centerDiv">
                <div class="centerDivHeader">
                    <h2>Reset Password</h2>
                    <p>Enter New Password To Reset Your Password</p>
                </div>
                <div class="row centerRow">
                    <div class="col-md-12 rightDiv">
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.new_password1}}
                            </div>
                            <div class="form-group">
                                {{ form.new_password2}}
                            </div>

                            <button type="submit" class="btn loginBtn">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
</div>

{% endblock content %}