

{% extends "blog/base.html" %}
<!-- {% load crispy_forms_tags %} -->

{% block css %}

<style>
    .mainNav {
        display: none;
    }
</style>


{% endblock css %}

{% block content %}


<nav class="navbar navbar-expand-md navbar-inverse regNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'login-home' %}">TalkingMind</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navMenu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registration-form'%}">Sign Up</a></li>
            </ul>
        </div>


    </div>

</nav>

<div class="main-container">
    <div class="container">
        <div class="row sub-container">
            <div class="col-md-3"></div>
            <div class="col-md-6 centerDiv">
                <div class="centerDivHeader">
                    <h2>Reset Password</h2>
                    <p>Enter New Password To Reset Your Password</p>
                </div>
                <div class="row centerRow">
                    <div class="col-md-12 rightDiv">
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.new_password1}}
                            </div>
                            <div class="form-group">
                                {{ form.new_password2}}
                            </div>

                            <button type="submit" class="btn loginBtn">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
</div>

{% endblock content %}