

{% extends "blog/base.html" %}


{% block content %}   
    
    
    <div class="main-container">
        <div class="container">
            <div class="row sub-container">
                <div class="col-md-3"></div>
                <div class="col-md-6 centerDiv">
                    <div class="centerDivHeader">
                        <h2>Check Your Mail</h2>
                        <p>Email Sent Successfull</p>
                    </div>
                    <div class="row centerRow">
                        <div class="col-md-12 rightDiv">                                
                            <div class="alert alert-info">
                                An email has been sent with instructions to reset your password
                            </div>
                            <a href="{% url 'password_reset'%}" class="btn loginBtn" role="button">Didn't Get Email? Click Here</a>
                              
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
    
        </div>
    </div>

{% endblock content %}