



{% extends "blog/base.html" %}

{% block css %}

<style>
    .mainNav {
        display: none;
    }
</style>


{% endblock css %}

{% block content %}
    
    <nav class="navbar navbar-expand-md navbar-inverse regNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'login-home' %}">TalkingMind</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navMenu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                </ul>
        
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'registration-form'%}">Sign Up</a></li>
                </ul>
            </div>
    
            
        </div>
    
    </nav>
    
    <div class="main-container">
        <div class="container">
            <div class="row sub-container">
                <div class="col-md-3"></div>
                <div class="col-md-6 centerDiv">
                    <div class="centerDivHeader">
                        <h2>Password Reset Successful</h2>
                        <p>Just One Step To Explore The New World</p>
                    </div>
                    <div class="row centerRow">
                        <div class="col-md-12 rightDiv">                                
                            <div class="alert alert-info">
                                Your password has been set.
                            </div>
                            <a href="{% url 'login'%}" class="btn loginBtn" role="button">Sign In Here</a>
                              
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
    
        </div>
    </div>

{% endblock content %}