
{% extends "blog/base.html" %}


{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="row sub-container">
                <div class="col-md-3"></div>
                <div class="col-md-6 centerDiv">
                    <div class="centerDivHeader">
                        <h2>Password Reset Successful</h2>
                        <p>Just One Step To Explore The New World</p>
                    </div>
                    <div class="row centerRow">
                        <div class="col-md-12 rightDiv">                                
                            <div class="alert alert-info">
                                Your password has been set.
                            </div>
                            <a href="{% url 'login'%}" class="btn loginBtn" role="button">Sign In Here</a>
                              
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
    
        </div>
    </div>

{% endblock content %}