{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}

    <style>
        
        .mainNav{
            display: none;
        }
    </style>
    

{% endblock css %}

{% block content %}


    <nav class="navbar navbar-expand-md navbar-inverse regNav">
        <div class="container">
            <a class="navbar-brand" href="#">TalkingMind</a>

            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'login'%}">Login</a></li>
            </ul>
        </div>

    </nav>

    <div class="main-container">
        <div class="container">
            <div class="row sub-container">
                <div class="col-md-1"></div>
                <div class="col-md-10 centerDiv">
                    <div class="centerDivHeader">
                        <h2>Registration</h2>
                        <p>Just One Step To Explore The New World</p>
                    </div>
                    <div class="row centerRow">
                        <div class="col-md-6 leftDiv">
                            <img src="/static/blog/website_logo.png">
                        </div>
                        <div class="col-md-6 rightDiv">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if error_message %}
                                <div class="alert alert-danger">
                                    <strong>{{ error_message }}</strong>
                                </div>
                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="regFormFLname">
                                    {{form.first_name}}
                                    {{form.last_name}}
                                </div>

                                <div class="form-group">
                                    {{form.username}}
                                </div>
                                <div class="form-group">
                                    {{form.email}}
                                </div>
                                <div class="form-group">
                                    {{form.password}}
                                </div>
                                <div class="form-group">
                                    {{form.repeat_password}}
                                </div>

                                <button type="submit" class="btn registerBtn">Register</button>
                              </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            
        </div>
    </div>

    {% endblock content %}

