{% extends 'blog/base.html' %}
{% load static %}

  {% block css %}
  <style>
    .mainNav {
        display: none;
    }     
      
  </style>
  {% endblock css %}


    {% block content %}
    <br><br>
    <form method="POST"> {% csrf_token %}
        <div class="container">
            <div class="col-lg-10 offset-lg-1 shadow-lg p-3 mb-5 pb-5 bg-white rounded">
                <p class="skipBtn"><a href="{% url "login-home" %}"><i class="fa fa-times" aria-hidden="true"></i></a></p>
                
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <h3>Article You Like</h3>
                    <i>Choose your favourite article topics.</i>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="btn-group btn-group-toggle selectBtnDiv" data-toggle="buttons">
                            {% for id,name in category_list %}
                                {% if id in category_selected_id_list %}
                                    <label class="btn btn-outline-primary selectBtn">
                                    <input type="checkbox" value="{{id}} " name="check" id="defaultUnchecked{{forloop.counter}}" checked autocomplete="off" > {{name}}
                                    </label>
                                {% else %}
                                    <label class="btn btn-outline-primary selectBtn">
                                    <input type="checkbox" value="{{id}} " name="check" id="defaultUnchecked{{forloop.counter}} autocomplete="off" > {{name}}
                                    </label>
                                {% endif %}
                            {%endfor%}
                          </div>
                    </div>  
                </div>
                <div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-outline-success">Save & Continue</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form> l̥

    {% endblock content %}
