{% extends "blog/basic.html" %}
{% load custom_tag %}




{% block section %}

{% if rec_request %}
    <div class="container col-6 my-4">
        <h4>Follow requests:</h4><br>
        {% for r_request in rec_request %}
            <a style="margin-right: 20px; display: inline; font-size: 30px;" href="{% url 'other-profile' r_request.from_user.id %}">{{ r_request.from_user.username }}</a>
            <small><a class='btn btn-primary' href=" {% url 'accept_follow_request' r_request.from_user.id %}">Accept</a></small>
            <small><a class='btn btn-warning' href=" {% url 'delete_follow_request' r_request.from_user.id %}">Delete</a></small>
            <br>
        {% endfor %}
    </div>
{% endif %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card profileCard">
                                <div class="profileHeaderDiv">
                                    <div class="profileHeader">
                                        <h5>Profile</h5>
                                    </div>
                                    <div class="profileEditBtn">
                                        <p><a href="{% url 'profile-setting' %}"><i class="fas fa-cog"></i></a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profilePicDiv">
                                            <div class="profileImg">

                                                <img src="{{user.profile.image.url}}">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="profileDetailDiv">
                                            <h5 class="name">{{user.first_name}} {{user.last_name}}</h5>
                                            <h6 class="username">@{{user.username}}</h6>
                                            <p class="about">{{user.profile.bio}}</p>
                                            <div class="btn-group grpBtn" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-secondary active">
                                                    <p class="count">{{posts_count}}</p>
                                                    <p class="text">posts</p>
                                                </button>
                                                {% if followers_count > 0 %}
                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#followersModal">
                                                {% else %}
                                                <button type="button" class="btn btn-secondary">
                                                {% endif %}
                                                <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#followersModal"> -->
                                                    <p class="count total-followers-count">{{followers_count}}</p>
                                                    <p class="text">followers</p>
                                                </button>
                                                {% if following_count > 0 %}
                                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#followingsModal">
                                                {% else %}
                                                <button type="button" class="btn btn-secondary" >
                                                {% endif %}
                                                <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#followingsModal"> -->
                                                    <p class="count total-following-count">{{following_count}}</p>
                                                    <p class="text">followings</p>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card articleCard">
                                <div class="articleMainDiv">
                                    <div class="articleMainHeaderDiv">
                                        <div class="articleDiv">
                                            <h6>Articles</h6>
                                        </div>
                                        <div class="articleEditBtn">
                                            <p><a id="button" href="{% url 'fav_article_category' %}"><i class="fas fa-edit"></i></a></p>
                                        </div>
                                    </div>
                                    <div class="articleMainBodyDiv">
                                        <div class="btn-group btn-group-toggle selectBtnDiv" data-toggle="buttons">
                                            {% if article_category %}
                                                {% for category in article_category %}
                                                    <label class="btn btn-outline-primary selectBtn">
                                                        <input type="checkbox" autocomplete="off" disabled> {{category}}
                                                    </label>
                                                {% endfor %}
                                            {% else %}
                                            <p>You haven't selected any article topics</p>
                                            <!-- <div class="row">
                                                <div class="col-md-9">
                                                    <p>You haven't selected any article topics</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <a id="button" href="{% url 'fav_article_category' %}" class="button btn btn-primary" style="color:black;display: inline;float: right; border-radius: 30px;">Select Topics</a>
                                                </div>
                                            </div> -->
                                            {% endif %}
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="profilePostCard">
                                    <nav class="cardTab">
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Posts</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">About</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="mainProfilePostDiv infinite-container">
                                                {% if posts_count > 0 %}
                                                    {% for post in paginated_posts %}
                                                        <div class="card mainProfiilePostCard infinite-item">
                                                            <div class="card-header">
                                                                <div class="cardHeadSection">
                                                                    <div class="profileImg"><a href="{% url 'other-profile' post.author.id %}"><img src="{{post.author.profile.image.url}}"></a></div>
                                                                    <div class="profileTitle postProfileTitle">
                                                                        <a href="{% url 'other-profile' post.author.id %}"><h6>{{ post.author }}</h6></a><p>@abhishek </p>
                                                                    </div>
                                                                    <div class="threeDot">
                                                                        <div class="dropdown dropleft">
                                                                            <p  class="cursor-pointer dropdown-toggle" data-toggle="dropdown">
                                                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                                            </p>
                                                                            <div class="dropdown-menu">
                                                                              <a class="dropdown-item" href="{% url 'post-update' pk=post.id %}">Edit</a>
                                                                              <a class="dropdown-item deleteModal" id="{{ post.id }}" data-toggle="modal" data-target="#deleteModal">Delete</a>
                                                                            </div>
                                                                          </div>
                                                                        <!-- <p><i class="fa fa-ellipsis-v" aria-hidden="true"></i></p>                                                 -->
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="card-body">
                                                                <a href="{% url 'single-post' post.id %}">
                                                                    <h5 class="card-title">{{ post.title }}</h5>
                                                                    <pre class="card-text showLess">{{ post.content }}</pre>
                                                                </a>

                                                            {% if post.images.all %}
                                                                <div class="image-div">
                                                                    <div class="card-group image-group h-100 d-flex" style="flex-direction: row;">
                                                                        {% if post.images.all.count > 2 %}
                                                                                <div class="card card-one w-100" style='background: url("{{post.images.all.0.image.url}}");'>
                                                                                </div>
                                                                                <div class="card card-one w-100">
                                                                                    <div class="card-header card-in-image h-50" style='background: url("{{post.images.all.1.image.url}}");'></div>
                                                                                    <div class="card-footer card-in-image h-50" style='background: url("{{post.images.all.2.image.url}}");'></div>
                                                                                </div>
                                                                        {%else%}
                                                                            {% for postImage in post.images.all %}
                                                                                <div class="card w-100" style='background: url("{{postImage.image.url}}");'>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                            <!-- <img class="card-img-bottom" data-src="holder.js/100px180/" alt="100%x180" src="https://unknown-ag.github.io/sheetal_academy/ProjectImages/abhishek.jpeg" data-holder-rendered="true"> -->
                                                            </div>

                                                            <div class="card-footer">
                                                                <div class="footerBtn">
                                                                  {% csrf_token %}
                                                                    {% if user.id in post|liked_list  %}
                                                                        <div id="like"  class="like" ><i onclick="post_like(this,{{post.id}})" id="heart" class="fa fa-heart press" aria-hidden="true"><span class="total-likes" >{{post.likes_count}}</span></i ></div>
                                                                    {% else %}
                                                                        <div id="like"  class="like" ><i onclick="post_like(this,{{post.id}})" id="heart" class="fa fa-heart" aria-hidden="true"><span class="total-likes" >{{post.likes_count}}</span></i ></div>
                                                                    {% endif %}
                                                                    <div class="comment"><i class="far fa-comments"></i><span>13</span></div>
                                                                    <div class="share"><i class="fa fa-paper-plane" aria-hidden="true"></i><span>28</span></div>
                                                                    {% if post.id in user.profile|saved_post %}
                                                                        <div class="save"><i onclick="post_save(this,{{post.id}})" class="fa fa-bookmark saved" aria-hidden="true" data-catid = {{post.id}}></i></div>
                                                                    {% else %}
                                                                        <div class="save"><i onclick="post_save(this,{{post.id}})" class="fa fa-bookmark" aria-hidden="true" data-catid = {{post.id}}></i></div>
                                                                    {% endif %}
                                                                </div>
                                                                <!-- {{ post.date_posted }} -->
                                                             </div>
                                                             <div class="card-footer card-footer-comment">
                                                                <div class="footerCommentDiv">
                                                                    <div class="commentBox">
                                                                        <form class="comment-form">
                                                                            {% csrf_token %}
                                                                            {{comment_form.commented_text}}
                                                                            <!-- <input type="text" class="form-control form-control-sm mr-3"  placeholder="Write a comment..."> -->
                                                                            <button type="submit" class="btn btn-outline-info commentBtn" data-catid="{{post.id}}"><i class="fas fa-paper-plane"></i></button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <div class="allCommentDiv" id="allCommentDiv">

                                                                    <ul class="list-unstyled single-post-cmt-div{{post.id}} mb-0">
                                                                        {% if post.comments.all %}
                                                                         <li class="media">
                                                                            <a href="#"><img class="mr-3 profilePic" src="/media/default.jpeg" alt="img"></a>
                                                                            <div class="media-body w-50">
                                                                                <h6 class="mt-0 mb-1 profileName"><a href="#">{{post.comments.all.0.author.first_name}} {{post.comments.all.0.author.last_name}}</a><span class="ml-3 commentlikeBtn"><i class="far fa-heart"></i></span></h6>
                                                                                <p class="commentText">{{post.comments.all.0.commented_text}}</p>
                                                                                <div class="commentTextBottomBtn">
                                                                                    <span class="textBtn">9h</span>
                                                                                    <span class="textBtn"><span>5</span> likes</span>
                                                                                    <span class="textBtn">reply</span>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        {% endif %}
                                                                    </ul>

                                                                </div>
                                                             </div>
                                                        </div>
                                                     {% endfor %}
                                                {% else %}

                                                <div class="card mainProfiileNoPostCard">
                                                    <h6>You haven't posted anything yet</h6>
                                                </div>
                                                {% endif %}
                                             </div>

                                          {% if paginated_posts.has_next %}
                                             <a class="infinite-more-link" href="?page={{ paginated_posts.next_page_number }}"></a>
                                          {% endif %}
                                          <div class="d-flex justify-content-center" style="display:none;">
                                             <div class="spinner-border" role="status" style="display:none;">
                                                 <span class="sr-only">Loading...</span>
                                             </div>
                                         </div>

                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <div class="mainProfileAboutDiv">
                                                <div class="card aboutCard">

                                                    <div class="contactMainDiv">
                                                        <div class="contactMainHeaderDiv">
                                                            <div class="contactDiv">
                                                                <h6>About</h6>
                                                            </div>
                                                            <div class="contactEditBtn">
                                                                <p><a id="button"><i class="fas fa-edit" data-toggle="modal" data-target="#aboutModal"></i></a></p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p>{{user.profile.about}}</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card trendingCard">
                                <div class="card-header">
                                  <h6>Trending Topics</h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <h6>#corona</h6>
                                        </li>
                                        <li class="list-group-item">
                                            <h6>#Language</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#movies</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#Songs</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#education</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#movies</h6>

                                        </li>
                                        <li class="list-group-item">
                                            <h6>#programming</h6>

                                        </li>
                                      </ul>
                              </div>
                            </div>
                            <div class="card peopleKnow">
                                <div class="card-header">
                                    <p class="cardHeaderName">People you may know</p>
                                    <!-- <p class="cardHeaderIcon"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></p>                                           -->
                                </div>
                                <div class="card-body recomdBody">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item">
                                            <div class="cardHeadSection">
                                                <div class="profileImg"><a href="#"><img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1"></a></div>
                                                <div class="profileTitle">
                                                    <a href="#"><h6>Abhishek Gupta</h6></a><p>@abhishek </p>
                                                </div>
                                                <div class="recomdAddBtn">
                                                    <p><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card-footer recomdFooter text-center">
                                    <a href="">See More</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>

  <!-- Modal -->

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{about_form.about}}

                    <button type="submit" class="btn btn-outline-success mt-2 w-100">Update</button>

                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="followersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body followerModalBody" style="overflow: hidden;">
                <div class="followerListDiv">
                    <div class="list-group">
                        {% for follower in followers_list %}
                        <div class="list-group-item {{follower.user.id}}">
                            <div class="cardHeadSection ">
                                <div class="profileImg followers-list-modal"><a href="{% url 'other-profile' follower.user.id %}"><img src="{{follower.user.profile.image.url}}"></a></div>
                                    <div class="profileTitle">
                                        <a href="{% url 'other-profile' follower.user.id %}"><h6>{{follower.user.first_name}} {{follower.user.last_name}}</h6></a>
                                        <div class="d-flex">
                                            <p>@{{follower.user.username}}</p>
                                            <div class="ml-2 modal-follow-request-button" style="font-size: 12px;cursor:pointer;">
                                                {% if  user|user_in_follow_request:follower.user %}
                                                    <a style="color:dodgerblue"  id="follow-btn{{follower.user.id}}"  class="follow-btn {{follower.user.id}}requested" data-id="{{follower.user.id}}">Requested</a>

                                                {% elif follower.user.id not in following_users %}
                                                    <a style="color:dodgerblue" id="follow-btn{{follower.user.id}}"  class="follow-btn {{follower.user.id}}follow" data-id="{{follower.user.id}}">Follow</a>
                                                {% else %}
                                                    <a style="color:dodgerblue" id="follow-btn{{follower.user.id}}"  class="follow-btn {{follower.user.id}}unfollow" data-id="{{follower.user.id}}">Unfollow</a>

                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>

                                <div class="recomdAddBtn remove-button-of-followers">
                                    <p ><a data-id="{{follower.user.id}}"><i class="fa fa-minus" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
    </div>
</div>

<div class="modal fade" id="followingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">followings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body followingsModalBody" style="overflow: hidden;">
                <div class="followingListDiv">
                    <div class="list-group">
                        {% for following in following_list %}
                            <div class="list-group-item {{following.user.id}}followed-user">
                                <div class="cardHeadSection">
                                    <div class="profileImg"><a href="{% url 'other-profile' following.user.id %}"><img src="{{following.user.profile.image.url}}"></a></div>
                                    <div class="profileTitle">
                                        <a href="{% url 'other-profile' following.user.id %}"><h6>{{following.user.first_name}} {{following.user.last_name}} </h6></a><p>@{{following.user.username}}</p>
                                    </div>
                                    <div class="recomdAddBtn unfollow-button-of-followings">
                                        <p><a  data-id="{{following.user.id}}"><i class="fas fa-minus"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    </div>
            </div>
        </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body followingsModalBody">
                <form id="deleteForm" method="post" action="post/1/delete/">
                    {% csrf_token %}
                    <h5>Are you sure, you want to delete the post ?</h5>
                    <p class="postIdd"></p>
                    <div class="d-flex flex-row-reverse mt-3 w-100">
                        <button type="submit" class="btn btn-outline-danger ml-1 " >Confirm</button>
                        <button type="button" class="btn btn-outline-success mr-1 " data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <!-- </div> -->


{% endblock section %}

{% block scripts %}

<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container'),
        onBeforePageLoad: function () {
            $('.spinner-border').show();
        },
        onAfterPageLoad: function () {
            $('.spinner-border').hide();
        }
    });
</script>

<script>
    $('.deleteModal').click(function(e){
        var postId = $(this).attr('id');
        var url =  "/blog/post/"+postId+"/delete/";
        $('#deleteForm').attr('action', url);
    })
</script>
{% endblock scripts %}
